In [1]:
import pandas as pd

In [58]:
df = pd.read_csv("075黑2.csv")

In [59]:
df

                1     3
0     0:00:00.534    86
1     0:00:02.567     5
2     0:00:09.934  1161
3     0:00:09.967  1607
4     0:00:10.001  2027
...           ...   ...
1156  0:33:27.901  1215
1157  0:33:27.934  1390
1158  0:33:27.967  1597
1159  0:33:28.001  1639
1160  0:33:31.767     0

[1161 rows x 2 columns]

In [60]:
df.insert(1,'2','')

In [61]:
for i in range(len(df)-1):    
    df['3'][i] = df['1'][i+1]

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\lumin\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [57]:
df.loc[:,'1':'2'].to_csv('out.csv', index = False)

In [34]:
df2 = df.sort_values(by=['时间'])

In [35]:
df2

,Unnamed: 0,时间,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,台词
0,Dialogue: 0,0:00:38.40,0:00:41.13,粉,NaN,0,0,0,NaN,A樱井 千纮 时年二十四
1,Dialogue: 0,0:00:41.43,0:00:45.90,粉,NaN,0,0,0,NaN,A大学毕业之后，进了一家混蛋黑企
2,Dialogue: 0,0:00:46.20,0:00:51.20,粉,NaN,0,0,0,NaN,A为了不弄脏简历和同僚互相鼓励忍耐了下来
3,Dialogue: 0,0:00:52.13,0:00:55.90,粉,NaN,0,0,0,NaN,A但是今天，我死了
4,Dialogue: 0,0:00:57.86,0:01:01.80,粉,NaN,0,0,0,NaN,A然后现在，我正在被最终审判
...,...,...,...,...,...,...,...,...,...,...
407,Dialogue: 0,1:00:19.00,1:00:20.46,青,NaN,0,0,0,NaN,A西之神「喂」
408,Dialogue: 0,1:00:20.76,1:00:24.46,青,NaN,0,0,0,NaN,A西之神「你还不清楚自己上司是谁吗」
409,Dialogue: 0,1:00:27.10,1:00:36.43,青,NaN,0,0,0,NaN,A西之神「啊♥ 我可是真正的神祗哦♥」
410,Dialogue: 0,1:00:36.73,1:00:44.79,青,NaN,0,0,0,NaN,A西之神「呜啊♥ 改变自己的性别这种事情♥ 轻轻松松…啊 呜♥」
575,Dialogue: 0,1:00:45.10,1:00:47.36,黑,NaN,0,0,0,NaN,A「是神」

In [31]:
print(gfg_csv_data)

None

In [ ]:
cv2.imwrite('ocr.png',image)